
{block title}Editor{/block}
{block description}Editor článků.{/block}
{block content}
	{* Formulář pro editaci. *}
	{control editorForm}
{/block}

{block scripts}
	{include parent}
	<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: 'textarea[name=content]',
			plugins: [
				'advlist autolink lists link image charmap print preview anchor',
				'searchreplace visualblocks code fullscreen',
				'insertdatetime media table contextmenu paste'
			],
			toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
			entities: '160,nbsp',
			entity_encoding: 'raw'
		});
	</script>
{/block}
