
{block title}Výpis článků{/block}
{block description}Výpis všech článků.{/block}
{block content}
<table>
	<tr n:foreach="$articles as $article">
		<td>
			<h2><a n:href="Article: $article->url">{$article->title}</a></h2>
			{$article->description}
			<br>
			{if $user->isInRole('admin')}
				<a n:href="editor $article->url">Editovat</a>
				<a n:href="remove $article->url">Odstranit</a>
			{/if}
		</td>
	</tr>
</table>
