
{block title}Přihlášení{/block}
{block description}Přihlášení do uživatelského účtu.{/block}
{block content}
{* Formulář pro přihlášování. *}
{control loginForm}
<p>Pokud ještě nemáte účet, <a n:href=register>zaregistrujte se</a>.</p>
